.grid {
  display: flex;
  flex-wrap: wrap;
  &__cell {
    padding: $gutter-sm;
    border:1px solid green;
    display: flex;
    & > * {
      width: 100%;
    }
    @include responsive-mtd(
                    width,
                    100%,
                    50%,
                    25%
    );
  }
}